body{
    margin: 0%;
    background-color: rgba(3, 3, 3, 0.979);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:18PX;
    color: white ;
    
    
}
#inputText{
height: 75px;
width: 600px;
border-radius: 5%;
background-color: yellow;

}
.text-area {
    margin: 10px 0;
    height: 20px;
    width: calc(40% - 110px); /* Ajusta a largura para deixar espaço para o botão */
    color: black;
    background-color: yellow;
    border-radius: 5px;
}
.button-area {
    margin-right: 20px;
    width: 150px;
    height:auto;
    color:yellow;
    border-radius: 10px;
    background-color:red;
    cursor: pointer;
    padding: 5px;
    border-style:dotted;
}
.block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.copied {
    background-color:white;
    color:black
    
}
#output{
    display: flex;
    flex-direction: column;
    align-content: center;
    cursor: pointer;
}
#charCount{
    width: 70px;
    background-color: yellow;
}
#divideText{
    font-size:medium;
    color:yellow;
    background-color: red;
    border-radius:5px;
    cursor: pointer;
}